#footer {
    background-image: $liner-1;
    
    .footer {
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    h2 {
        color: $secondary-color;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .social-icon {
        display: flex;
        margin-bottom: 30px;
    }

    .social-item {
        height: 50px;
        width: 50px;
        margin: 0 5px;

        img {
            filter: grayscale(1);
            transition: .3s ease filter;
        }//end

        &:hover{
            img {
                filter: grayscale(0);
            }
        }//end
    
    }//end

    p {
        color: $secondary-color;
        font-size: 1.3rem;
    }
}
