// Heights

$height1: 100vh;
$height2: 100vw;
$wirth1: 1200px;
$wirth2: 1500px;


//Colors
$primary-color: #1948d2;
$secondary-color: white;
$bl-color:black;


//Font sizes and weights
$font-size-1: 2rem;
$font-size-2: 0.2rem;
$font-size-3: 3rem;
$font-size-4: .1rem;
$font-size-5: 1.4rem;
$font-size-6: 2.5rem;
$font-size-7:4rem;

$font-weight-1:500;

// Gradients

$liner-1: linear-gradient(60deg, #d03131 0%, #000b17 100%);

